@import './base.css';

@-webkit-keyframes Animation {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
@keyframes Animation { 
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}


#app {  
  color:white;
  min-height:1500px;
}

.wrapper {
  background: linear-gradient(0deg,#9dc7c7,#9dc7c7 25%,#64b3c9 65%,#005986 90%,#005986);  
  background-position: 50%;      
  background-size: 200% 200%;
  -webkit-animation: Animation 20s ease infinite;
  -moz-animation: Animation 20s ease infinite;
  animation: Animation 20s ease infinite; 
  height:100%; 
}

.wrapper.Dark-Theme{
  background: black;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}


