@import './base.css';

#app {
  background-color: #005986;
  background-image: linear-gradient(0deg,#d8eeee,#d8eeee 25%,#64b3c9 65%,#005986 90%,#005986);
  background-attachment: fixed;
  background-position: 50%;
  background-size: cover;
  padding-bottom: 60px;  
  padding: 2rem;
  font-weight: normal;
  margin:0 auto;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .hamburger-toggle {
    display: block;
  }

  nav a,
  #unit-toggle,
  #theme-toggle {
    display: none;
  }

  nav.active a,
  nav.active #unit-toggle,
  nav.active #theme-toggle {
    display: block;
  }
}

/* 
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {  
  #app {
    display: flex;
    margin:0 auto;
  }
} */
